<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <p style= "color:#fff">
          Hello, I'm Ethan! I'm a Game Developer and recent graduate from the University of Portsmouth.
		  I have years of experience in Unity and Unreal Engine, becoming proficient in programming in C++ and C#.
          I've worked with project management tools such as Trello, Confluence and Jira to consolidate my 
		  workflow and collaborate with ease.
        </p>
		<p style= "color:#fff">
			I am an avid video game fanatic. 
			Growing up with various consoles and immersing myself in many different genres gives me a greater insight
			into game design and how players interact with games.
		</p>
		<p style= "color:#fff"> 
			Some of my personal favourite games that I have played include: 
		</p>
		<div class="row">
			<ul class="gameList">
				<li> Final Fantasy XIV Online </li>
				<li> NieR:Automata </li>
				<li> Like A Dragon Gaiden </li>
			</ul>
			<ul class="gameList">
				<li> Sekiro: Shadows Die Twice </li>
				<li> Team Fortress 2 </li>
				<li> Pikmin 4</li>
			</ul>
		</div>
      </div>
	  <div class="col-lg-4">
		<img class="img-responsive" src="img/profile.png" alt="profile-pic" /
	  </div>
    </div>
  </div>
</section>